{% extends 'adminLayout.html.twig' %}
{% block title %}Admin - Gestion des Languages{% endblock %}
{% block content %}
    <div class="container">
        <div id="success-delete"></div>
        <h1 class="text-center">Gestion des languages</h1>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Color</th>
                <th scope="col">Image</th>
                <th scope="col">Si valide</th>
                <th scope="col">Créer le</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody id="languageTable">
            {% for language in languages %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ language.name }}</td>
                    <td>{{ language.color }}</td>
                    <td>
                        {% if language.image %}
                        <i class="far fa-image" data-toggle="modal" data-target="#pictureModal{{ loop.index }}"></i>
                        {% else %}
                            Pas d'image
                        {% endif %}
                    </td>
                    <td>{{ language.is_valid == 1 ? 'Certifié' : 'Pas certfié' }}</td>
                    <td>{{ language.create_at }}</td>
                    <td>
                        <a href="admin/editlanguage/{{ language.id }}">
                            <i class="far fa-edit"></i>
                        </a>
                        /
                        <i class="fas fa-trash-alt trash-language" data-id="{{ language.id }}"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for language in languages %}
            <div class="modal fade" id="pictureModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="pictureModal{{ loop.index }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ language.image }}" alt="{{ language.name }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-6 text-left">
                <button class="btn btn-secondary" id="previous" value="{{ limit - 10 }}" style="display: none">Page précédente</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" id="next" value="{{ limit }}">Page suivante</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="/assets/js/ajaxLanguage.js"></script>
<script src="/assets/js/scriptLanguage.js"></script>
{% endblock %}
