{% extends 'layout.html.twig' %}
{% block title %}Création d'un sheet{% endblock %}
{% block content %}
    <section class="container-fluid">
        <h2 class="text-center">Ajout de sheet</h2>
        {% if errors is iterable %}
            <div class="bg-danger text-center">
                {% for error in errors %}
                    <p class="text-light">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" placeholder="in_array()"
                       name="title" value="{{ post is defined ? post.title : '' }}"
                       minlength="5" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" placeholder="Une courte description de son utilité"
                       name="description" value="{{ post is defined ? post.description : '' }}"
                       minlength="5" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="language">Technologie</label>
                <select name="language" id="language" class="form-control" name="language">
                    <option value="">Veuillez sélectionner une technologie</option>
                    {% for language in languages %}
                        {% if post is defined and post.language is same as(language.id) %}
                            <option value="{{ language.id }}" selected>{{ language.name }}</option>
                        {% else %}
                            <option value="{{ language.id }}">{{ language.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button class="btn btn-primary mt-2" type="button" data-toggle="collapse"
                        data-target="#collapseInput" aria-expanded="false"
                        aria-controls="collapseInput">
                    Créer une technologie
                </button>
                <div class="collapse" id="collapseInput">
                    <div class="card card-body">
                        <label for="newLanguage">Nom de la technologie</label>
                        <input class="form-control" name="newLanguage"
                               id="newLanguage" type="text" minlength="5" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="content">Ajoute ton sheet</label>
                <textarea name="content" id="content" class="form-control"
                          cols="30" rows="10" placeholder="Vous pouvez écrire en Markdown :)"
                          minlength="5" required></textarea>
            </div>
            <div class="form-group row">
                <div class="col-6 text-center">
                    <button type="reset" class="btn btn-primary">Vider</button>
                </div>
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
