<div class="container-fluid card-menu">
    <div class="row">
        <div class="col-8">
            <div class="card offset-1">
                <img src="{{ sheet.image }}" class="card-img-top d-block mx-auto p-2" alt="{{ sheet.name }}" width="80"
                     height="280">
                <div class="card-body">
                    <h5 class="card-title">{{ sheet.title }}</h5>
                    <p class="card-text text-center">{{ sheet.description|slice(0,50) }} [...]</p>
                    <!-- Button trigger modal -->
                    <div class="text-center">
                    <button type="button" style="background-color: {{ sheet.color }}" class="btn btn-primary"
                            data-toggle="modal" data-target="#cardModal{{ loop.index }}">
                        Voir le sheet
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cardModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">{{ sheet.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="cross" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="card-text">{{ sheet.description }}</p>
                <hr>
                <p>{{ sheet.content }}</p>
            </div>

        </div>
    </div>
</div>
