<div class="card" style="width: 18rem;">
    <img src="{{ sheet.image }}" class="card-img-top d-block mx-auto p-2" alt="{{ sheet.name }}" width="80" height="280">
    <div class="card-body">
        <h5 class="card-title">{{ sheet.title }}</h5>
        <p class="card-text">{{ sheet.description }}</p>
        <!-- Button trigger modal -->
        <button type="button" style="background-color: {{ sheet.color }}" class="btn btn-primary" data-toggle="modal" data-target="#cardModal{{ sheet.id }}">
            Voir le sheet
        </button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cardModal{{ sheet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">{{ sheet.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ sheet.content }}</p>
            </div>

        </div>
    </div>
</div>
