{% for language in languages %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ language.name }}</td>
        <td>{{ language.is_valid == 1 ? 'Certifié' : 'Pas certfié' }}</td>
        <td>{{ language.create_at }}</td>
        <td>
            <a href="/admin/editlanguage/{{ language.id }}">
                <i class="far fa-edit"></i>
            </a>
            /
            <i class="fas fa-trash-alt trash-language" data-id="{{ language.id }}"></i>
        </td>
    </tr>
{% endfor %}
<input id="lengthTable" type="hidden" value="{{ lengthTable }}">
