{% for sheet in sheets %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ sheet.title }}</td>
                        <td>{{ sheet.created_at }}</td>
                        <td>{{ sheet.updated_at }}</td>
                        <td>{{ sheet.pseudo }}</td>
                        <td>{{ sheet.name }}</td>
                        <td>
                            <a href="/admin/editsheet/{{ sheet.id }}">
                                <i class="far fa-edit"></i>
                            </a>
                            /
                            <i class="fas fa-trash-alt trash-sheet" data-id="{{ sheet.id }}"></i>
                        </td>
                    </tr>
                {% endfor %}
<input id="lengthTable" type="hidden" value="{{ lengthTable }}">